@model DFC.Digital.Web.Sitefinity.Widgets.Mvc.Models.SendGridViewModel
<div>

    <h1 class="heading-xlarge">Send Grid Test</h1>

    <div id="workArea" class="sfWorkArea">


        <p>We need your details to process your request.</p>


        @using (Html.BeginForm("", "SendGrid", FormMethod.Post, new { id = "header-search", @class = "site-search ui-front" }))
        {
            <ul>
                
                <li class="sfFormSeparator">
                    @Html.LabelFor(x => x.TemplateName, "Template Url", new { @class = "form-label" })
                    @Html.TextBoxFor(x => x.TemplateName, new { @class = "form-control sfTxt" })
                </li>

                <li class="sfFormSeparator">
                    @Html.LabelFor(x => x.FirstName, "{firstname}", new {@class = "form-label"})
                    @Html.TextBoxFor(x => x.FirstName, new {@class = "form-control sfTxt"})
                </li>

                <li class="sfFormSeparator">
                    @Html.LabelFor(x => x.LastName, "{lastname}", new {@class = "form-label"})
                    @Html.TextBoxFor(x => x.LastName, new {@class = "form-control sfTxt"})
                </li>

                <li class="sfFormSeparator">
                    @Html.LabelFor(x => x.EmailAddress, "{email}", new {@class = "form-label"})
                    @Html.TextBoxFor(x => x.EmailAddress, new {@class = "form-control sfTxt"})
                </li>

                <li class="sfFormSeparator">
                    @Html.LabelFor(x => x.Postcode, "{postcode}", new {@class = "form-label"})
                    @Html.TextBoxFor(x => x.Postcode, new {@class = "form-control sfTxt"})
                </li>
                <li class="sfFormSeparator">
                    @Html.LabelFor(x => x.Message, "{message}", new {@class = "form-label"})
                    @Html.TextAreaFor(x => x.Message, new {@class = "form-control sfreContentArea"})
                </li>

                <li class="sfFormSeparator">
                    @Html.LabelFor(x => x.DateOfBirth, "{dob} (e.g.12/12/2001)", new {@class = "form-label"})
                    @Html.EditorFor(x => x.DateOfBirth, new {@class = "form-control sfTxt"})
                </li>

                <li class="sfFormSeparator">
                    @Html.LabelFor(x => x.IsContactable, "{tandc}", new {@class = "form-label"})
                    @Html.CheckBoxFor(x => x.IsContactable)
                </li>

                <li class="sfFormSeparator">
                    @Html.LabelFor(x => x.AcceptTermsAndConditions, "{iscontactable}", new {@class = "form-label"})
                    @Html.CheckBoxFor(x => x.AcceptTermsAndConditions)
                </li>

                <li class="sfFormSeparator">
                    @Html.LabelFor(x => x.ContactOption, "{contactoption}", new {@class = "form-label"})
                    <select id="ContactOption" name="ContactOption">
                        <option value="ContactAdviser">Contact Adviser</option>
                        <option value="Feedback">Feedback</option>
                        <option value="Technical">Technical</option>
                    </select>
                </li>

                <li class="sfFormSeparator">
                    @Html.LabelFor(x => x.ContactAdviserQuestionType, "{contactadviserquestiontype}", new {@class = "form-label"})
                    <select id="ContactAdviserQuestionType" name="ContactAdviserQuestionType">
                        <option value="Careers">Careers</option>
                        <option value="Qualifications">Qualifications</option>
                        <option value="Courses">Courses</option>
                        <option value="Funding">Funding</option>
                        <option value="Qualifications">Qualifications</option>
                        <option value="SomethingElse">Something else</option>
                    </select>
                </li>

                <li class="sfFormSeparator">
                    @Html.LabelFor(x => x.FeedbackQuestionType, "{feedbackquestiontype}", new {@class = "form-label"})
                    <select id="FeedbackQuestionType" name="FeedbackQuestionType">
                        <option value="Careers">Careers</option>
                        <option value="Qualifications">Qualifications</option>
                        <option value="Courses">Courses</option>
                        <option value="Funding">Funding</option>
                        <option value="Website">Website</option>
                        <option value="SomethingElse">Something else</option>
                        <option value="CustomerService">Customer Service</option>
                    </select>
                </li>

                <li class="sfFormSeparator">
                    <button class="submit" type="submit" value="Search">Submit Form</button>
                </li>
            </ul>
        }

    </div>
</div>