@model DFC.Digital.Web.Sitefinity.Widgets.Mvc.Models.DfcBreadcrumbViewModel

<div class="govuk-width-container content-container">
    <div class="breadcrumbs govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="@Model.HomepageLink">@Model.HomepageText</a></li>
            @foreach (var item in Model.BreadcrumbLinks)
            {
                <li class="govuk-breadcrumbs__list-item">@if (string.IsNullOrEmpty(item.Link))
                    {
                        @item.Text
                    }
                    else
                    {
                        <a class="govuk-breadcrumbs__link" href="@item.Link">@item.Text</a>
                    }
                </li>
            }
        </ol>
    </div>
</div>