@model DFC.Digital.Web.Sitefinity.ContactUsModule.Mvc.Models.TechnicalFeedbackViewModel

@Html.Partial("ErrorSummary")
<h1 class="govuk-heading-xl">@Model.Title</h1>
<p class="govuk-body-m">@Model.PageIntroduction</p>
@using (Html.BeginForm("Index", "Technical", FormMethod.Post, new { id = "userform" }))
{
    <div class="govuk-character-count" data-module="character-count" data-maxlength="1000">
        <div class="govuk-form-group @Html.GetErrorClass(nameof(Model.Message), ViewData.ModelState)">
            @Html.LabelFor(x => x.Message, Model.MessageLabel, new { @class = "govuk-label" })
            <span class="govuk-hint" id="more-detail-hint">@Model.PersonalInformation</span>
            @Html.ValidationMessageFor(x => x.Message, null, new { @class = "govuk-error-message" })
            @Html.TextAreaFor(m => Model.Message, new { rows = 5, @class = "govuk-textarea js-character-count", aria_describedby = "more-detail-hint" })

        </div>
        <span id="Message-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
            @Model.CharacterLimit
        </span>
    </div>
    <div class="govuk-form-group">
        <button type="submit" class="govuk-button">@Model.ContinueText</button>
    </div>
}
