@model DFC.Digital.Web.Sitefinity.Widgets.Mvc.Models.DataImportViewModel
    
<div>
    <h1 class="sfBreadCrumb">
        @Html.Raw(Model.PageTitle)
    </h1>
    <div id="workArea" class="sfWorkArea">
        @if (Model.IsAdmin)
        {
            @Html.Raw(Model.ResultText)
            using (Html.BeginForm("Index", "DataImport", FormMethod.Post))
            {
                <p>
                @Html.Raw(Model.InstructionsText)
                </p>

                @Html.TextBoxFor(model => model.JobProfileImportDataFile, new {type = "file"})
                <p>
        <input class="submit" type="submit" value="Import Data">
                </p>
            }
        }
        else
        {
            <p>@Model.NotAllowedMessage</p>
        }
    </div>
</div>
<script>
    $(document).ready(function () {
        $('form').attr("enctype", "multipart/form-data").attr("encoding", "multipart/form-data");
    });
</script>