@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Services;
@using Telerik.Sitefinity.Model;
@using DFC.Digital.Web.Core;

<!DOCTYPE html>
<html @Html.RenderLangAttribute()>
<head>
    @Html.Partial("_Head")
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />

    @Html.Section("head")
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-554PPX9&gtm_auth=TVb_fEwaqgjV4JfSHm1JTQ&gtm_preview=env-48&gtm_cookies_win=x" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    @Html.Section("top")
    @Html.Partial("_govuk_Header")
    @Html.SfPlaceHolder("GovUKHeader")
    <main role="main">
        <div class="content-container">
            @Html.SfPlaceHolder("BannerContainer")
        </div>
        <div class="sfPublicWrapper" id="PublicWrapper">
            @Html.SfPlaceHolder("BreadcrumbExtender")
            @Html.SfPlaceHolder("MainContentTop")
            @Html.SfPlaceHolder("MainContent")
            @Html.SfPlaceHolder("MainContentBottom")
        </div>
        @* Inline editing scripts and helpers. They should be available only when inline editing is possible. *@
        @*@if (Html.ShouldRenderInlineEditing())
            {
                @Html.Script(ScriptRef.MicrosoftAjax, "top")
                @Html.Script(ScriptRef.MicrosoftAjaxCore, "top")
                @Html.Script(ScriptRef.JQuery, "top")

                @Html.Script(Url.EmbeddedResource("Telerik.Sitefinity.Resources.Reference", "Telerik.Sitefinity.Resources.Scripts.jquery.ba-outside-events.min.js"), "top")
                @Html.Script(ScriptRef.KendoAll, "top")
                @Html.Script(ScriptRef.KendoTimezones, "top")
                @Html.Script(Url.EmbeddedResource("Telerik.Sitefinity.Resources.Reference", "Telerik.Sitefinity.Resources.Scripts.RequireJS.require.min.js"), "top")
                @Html.InlineEditingManager(false)
            }*@
    </main>
    @Html.SfPlaceHolder("GovUKFooter")
    @Html.Section("bottom")
    @if (SystemManager.IsDesignMode == SystemManager.IsPreviewMode)
    {
        @Html.Script(@Html.GetLocationAssetFileAndVersion("gds_toolkit/js/jquerybundle.min.js"), "bottom")
    }
    @Html.Script(@Html.GetLocationAssetFileAndVersion("gds_toolkit/js/govuksel.min.js"), "bottom")

    @if (Html.IsDebugSymbol())
    {
        @Html.Script(@Html.GetLocationAssetFileAndVersion("gds_toolkit/assets/src/frontend/js/dfcdigital.js").Replace("assets/dist/", string.Empty), "bottom")
    }
    else
    {
        @Html.Script(@Html.GetLocationAssetFileAndVersion("gds_toolkit/js/dfcdigital.min.js"), "bottom")
    }

    @if (SystemManager.IsDesignMode)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                //Need to wait for Sitefinity client side scripts to run and render the buttons, before we go looking for them.
                setTimeout(attachbuttons, 1000);
            });

            function attachbuttons() {
                var pathname = window.location.pathname;
                if (pathname.endsWith('Action/Edit')) {

                    var compositepreviewurl = '@Html.GetCompositeServiceEndPoint()';
                    if (compositepreviewurl !== undefined) {
                        var compositedraft = compositepreviewurl + 'draft' + pathname.replace('/Action/Edit', '').substr(1);
                        $("<a class='sfLinkBtn sfPreview' href=" + compositedraft + " target='_blank' class='sfLinkBtn'><span class='sfLinkBtnIn'>Composite Preview</span></a>").insertAfter("#ctl08_ctl00_ctl00_workflowMenu_ctl00_ctl00_secondaryActionsContainer_Preview")
                    }
                }
            }
        </script>
    }

    <script type="text/javascript">
        var appInsights = window.appInsights || function (a) {
            function b(a) { c[a] = function () { var b = arguments; c.queue.push(function () { c[a].apply(c, b) }) } } var c = { config: a }, d = document, e = window; setTimeout(function () { var b = d.createElement("script"); b.src = a.url || "https://az416426.vo.msecnd.net/scripts/a/ai.0.js", d.getElementsByTagName("script")[0].parentNode.appendChild(b) }); try { c.cookie = d.cookie } catch (a) { } c.queue = []; for (var f = ["Event", "Exception", "Metric", "PageView", "Trace", "Dependency"]; f.length;)b("track" + f.pop()); if (b("setAuthenticatedUserContext"), b("clearAuthenticatedUserContext"), b("startTrackEvent"), b("stopTrackEvent"), b("startTrackPage"), b("stopTrackPage"), b("flush"), !a.disableExceptionTracking) { f = "onerror", b("_" + f); var g = e[f]; e[f] = function (a, b, d, e, h) { var i = g && g(a, b, d, e, h); return !0 !== i && c["_" + f](a, b, d, e, h), i } } return c
        }({
            instrumentationKey: "@Html.ReplaceTokens("{config.APPINSIGHTS_INSTRUMENTATIONKEY}")"
        });

        window.appInsights = appInsights, appInsights.queue && 0 === appInsights.queue.length && appInsights.trackPageView();
        if (typeof cookiePrefrences.configureAppInsightsUsage === 'function' ) {
            cookiePrefrences.configureAppInsightsUsage();
        }

    </script>
</body>
</html>

