@using Telerik.Sitefinity.Frontend.Mvc.Helpers
@model DFC.Digital.Web.Sitefinity.ContactUsModule.Mvc.Models.ContactOptionsViewModel

@Html.Script(Html.VersionAssetFile(Url.Content("~/ResourcePackages/gds_service_toolkit/assets/dist/js/jquerybundle.min.js")))

@Html.Partial("ErrorSummary")
@using (Html.BeginForm("index", "SelectOption", FormMethod.Post, new { id = "form-select-option", @class = "form form-intro" }))
{
    <div class="govuk-form-group" @Html.GetErrorClass(nameof(Model.ContactUsOption.ContactOptionType), ViewData.ModelState)>
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">@Model.Title</h1>
            </legend>
            <div class="govuk-radios">
                @Html.ValidationMessageFor(model => model.ContactUsOption.ContactOptionType, null, new { @class = "govuk-error-message" })
                @Html.GovUkEnumRadioButtonFor(model => model.ContactUsOption.ContactOptionType)
            </div>
        </fieldset>
    </div>
    <div class="govuk-form-group">
        <button type="submit" id="show-basic-details" class="govuk-button">Continue</button>
    </div>
}