@model DFC.Digital.Web.Sitefinity.ContactUsModule.Mvc.Models.ContactUsViewModel


<div class="govuk-grid-row">
    @using (Html.BeginForm("index", "SelectOption", FormMethod.Post, new { id = "form-select-option", @class = "form form-intro" }))
    {
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                    <h1 class="govuk-fieldset__heading">@Model.Title</h1>
                </legend>


                <div class="govuk-radios">
                    <div class="govuk-radios__item">
                        @Html.RadioButtonFor(model => model.ContactOption, "ContactAdviser", new { @class = "govuk-radios__input", name = "whyContactUs", id = "adviser" })
                        @Html.LabelFor(model => model.ContactOption, "Contact an adviser", new { @class = "govuk-label govuk-radios__label" })
                    </div>
                </div>
                <div class="govuk-radios">
                    <div class="govuk-radios__item">
                        @Html.RadioButtonFor(model => model.ContactOption, "Technical", new { @class = "govuk-radios__input", name = "whyContactUs", id = "technical" })
                        @Html.LabelFor(model => model.ContactOption, " Report a technical issue", new { @class = "govuk-label govuk-radios__label" })
                    </div>
                </div>

                <div class="govuk-radios">
                    <div class="govuk-radios__item">
                        @Html.RadioButtonFor(model => model.ContactOption, "Feedback", new { @class = "govuk-radios__input", name = "whyContactUs", id = "feedback" })
                        @Html.LabelFor(model => model.ContactOption, "Give feedback", new { @class = "govuk-label govuk-radios__label" })
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="govuk-form-group">

            <button type="submit" id="show-basic-details" class="govuk-button">Continue</button>

        </div>
    }

</div>
