@model DFC.Digital.Web.Sitefinity.JobProfileModule.Mvc.Models.PsfModel
<div class="content-container">
    <div class="filter-form">
        @{ Html.EnableClientValidation(false); }
        <form action="@Model.Section.PreviousPageUrl" method="post" id="backForm">
            <div id="BackLink" class="govuk-breadcrumbs">
                <button type="submit" class="govuk-back-link" id="filter-home">@(Model.Section.PageNumber == 1 ? "Home" : "Back")</button>
            </div>
            @Html.HiddenFor(m => Model.Section.Name)
            @Html.HiddenFor(m => Model.Section.SectionDataType)
            @Html.HiddenFor(m => Model.OptionsSelected)
            @Html.HiddenFor(m => Model.Section.PageNumber)
            @Html.HiddenFor(m => Model.Section.SingleSelectOnly)
        </form>
        @if (!string.IsNullOrEmpty(Model.NumberOfMatchesMessage))
        {
        <div class="banner-message">
            <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-font-weight-bold">@string.Format(Model.NumberOfMatchesMessage, Model.NumberOfMatches)</p>
        </div>
        }
        <form action="@Model.Section.NextPageUrl" method="post" id="continueForm">
            <div class="active">
                <span class="govuk-caption-xl">Step @Model.Section.PageNumber of @Model.Section.TotalNumberOfPages</span>

                <h1 class="govuk-heading-xl">@Html.DisplayFor(model => Model.Section.Name)</h1>
                @Html.Raw(Model.Section.Description)

                @Html.HiddenFor(m => Model.Section.Name)
                @Html.HiddenFor(m => Model.Section.SectionDataType)
                @Html.HiddenFor(m => Model.OptionsSelected)
                @Html.HiddenFor(m => Model.Section.PageNumber)
                @Html.HiddenFor(m => Model.Section.SingleSelectOnly)

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="qualifications-hint">
                        <div class="govuk-hint"> Select all that apply. </div>

                        <div class="filter-list govuk-checkboxes">
                            @if (Model.Section.Options != null && Model.Section.Options.Any())
                            {
                                for (int jj = 0; jj < Model.Section.Options.Count; jj++)
                                {
                                    if (Model.Section.SingleSelectOnly == true || Model.Section.SectionDataType == "TrainingRoute")
                                    {
                                        <div class="filter-option govuk-radios__item">
                                            @Html.RadioButtonFor(m => Model.Section.SingleSelectedValue, Model.Section.Options[jj].OptionKey, new { id = $"Section_{jj.ToString()}", @class = "govuk-radios__input" })
                                            <label class="govuk-label govuk-radios__label" for="Section_@jj.ToString()">@Model.Section.Options[jj].Name<span>@Model.Section.Options[jj].Description</span></label>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="filter-option govuk-checkboxes__item">
                                            @Html.CheckBoxFor(m => Model.Section.Options[jj].IsSelected, new { @class = (Model.Section.Options[jj].ClearOtherOptionsIfSelected ? "filter-na govuk-checkboxes__input" : "govuk-checkboxes__input") })
                                            <label class="govuk-label govuk-checkboxes__label" for="Section_Options_@jj.ToString()__IsSelected">@Model.Section.Options[jj].Name<span> @Model.Section.Options[jj].Description</span></label>
                                        </div>
                                    }

                                    @Html.HiddenFor(m => Model.Section.Options[jj].OptionKey)
                                    @Html.HiddenFor(m => Model.Section.Options[jj].ClearOtherOptionsIfSelected)
                                }
                            }
                        </div>
                    </fieldset>
                </div>

                <button type="submit" class="govuk-button filter-next" id="filter-continue">Continue</button>
            </div>
        </form>
    </div>
</div>