@model SkillsFrameworkResultsViewModel
<div>
    <h1 class="sfBreadCrumb">
        @Html.Raw(Model.PageTitle)
    </h1>

    <div id="workArea" class="sfWorkArea">
        @if (Model.IsAdmin)
        {
            <h2>@Model.ActionCompleted - Import Action Summary</h2>

            foreach (var records in Model.AuditRecords)
            {
                <p>
                    <h3>@records.Key</h3>
                    <ul>
                        @foreach (var record in records.Value)
                        {
                            <li>@record</li>
                        }
                    </ul>
                </p>
            }
        }
        
        @if (!string.IsNullOrWhiteSpace(Model.OtherMessage))
        {
            <h3> Other Messages</h3>
            <p>@Model.OtherMessage</p>
        }
       
    </div>
 
</div>