@model SkillsFrameworkResultsViewModel
<div>
    <h1 class="sfBreadCrumb">
        @Html.Raw(Model.PageTitle)
    </h1>

    <div id="workArea" class="sfWorkArea">
        @if (Model.IsAdmin)
        {

            <h3>@Model.ActionCompleted</h3>

            foreach (var records in Model.AuditRecords)
            {
                <p>
                    <h3>@records.Key</h3>
                    <ul>
                        @foreach (var record in records.Value)
                        {
                            <li>@record</li>
                        }
                    </ul>
                </p>
            }
        }

        @if (!string.IsNullOrWhiteSpace(Model.OtherMessage))
        {
            <h3 id="other-message-heading">Other Messages</h3>
            <p id="other-message-paragraph">@Model.OtherMessage</p>
        }

    </div>

    <script type="text/javascript">
       jQuery(document).ready(function () {
           $(".sfFooter").hide();
       });
    </script>

</div>