@model SkillsFrameworkImportViewModel
<div>
    <h1 class="sfBreadCrumb">
        @Html.Raw(Model.PageTitle)
    </h1>
    <div id="workArea" class="sfWorkArea">
        @if (Model.IsAdmin)
        {
            <p>@Html.Raw(Model.FirstParagraph)</p>
            <br />
            using (Html.BeginForm("", "SkillsFrameworkDataImport", FormMethod.Post))
            {
            <select name="importmode">
                <option value="updatesococcupationalcodes">Update SOCs with ONet Occupational Codes</option>
                <option value="importskills">Import ONet translated skills</option>
                <option value="resetsocimportstartedstatus">Reset import Status for SOCs started by not completed correctly</option>
                <option value="resetsocimportallstatus">Reset import Status for ALL SOCS</option>
                <option value="exportnewonetmappings">Export all new SOC to ONet mappings</option>
            </select>
                <input class="submit sfLinkBtn sfSave" type="submit" value="Run Selected Option">
            }


            <div style="margin-top:20px; border-top:solid; border-top-color:black">
                @using (Html.BeginForm("ImportJobProfile", "SkillsFrameworkDataImport", FormMethod.Post))
                {
                    <h2>Current Import status of SOCs in Onet</h2>
                    <table style="width:900px;" >
                        <tr style="background-color:aliceblue;">
                            <td id="awaiting-update">SOCs awaiting import : @Model.SocMappingStatus.AwaitingUpdate</td>
                            <td id="update-completed">SOCs completed : @Model.SocMappingStatus.UpdateCompleted</td>
                            <td id="selected-for-update">SOCs started but not completed : @Model.SocMappingStatus.SelectedForUpdate</td>
                        </tr>
                        <tr>
                            <td style="padding-top:10px;" colspan="2">
                                <input id="next-batch-of-SOCs-to-import" type="text" style="height:100px; width:600px;" value="@Model.NextBatchOfSOCsToImport" name="jobprofilesoc">
                                <p>This can be a comma seperated list of SOCs, you can update the batch size in widget properties BUT the time taken should not exceed 2 minutes on Azure</p>
                            </td>
                            <td>
                                <input class="submit sfLinkBtn sfSave" type="submit" value="Import skills for Job profiles by SOC">
                            </td>
                        </tr>
                    </table>
                }
            </div>

            <div style="margin-top:20px; border-top:solid; border-top-color:black">
                <h2>You should run these options in the following order</h2>
                <ol>
                    <li>Update SOCs with ONet Occupational Codes</li>
                    <li>Import ONet translated skills</li>
                    <li>Import and link related skills to each Job profile  </li>
                </ol>

                <div style="margin-top:20px">
                    <h2>Only use these options if you have problems</h2>
                    <ol>
                        <li>Reset import Status for SOCs started by not completed correctly - DO THIS FOR SOCS THAT HAVE THROWN ERRORS</li>
                        <li>Reset import Status for ALL SOCS - ONLY DO THIS IF YOU WANT TO START AGAIN</li>
                        <li>Export all new SOC to ONet mappings - DO THIS IF YOU HAVE NEW SOCS WITH ONET MAPPINGS THAT NEED SKILLS IMPORTING</li>
                    </ol>
                </div>
            </div>
        }
        else
        {
            <p>@Model.NotAllowedMessage</p>
        }
    </div>
</div>