@model DFC.Digital.Web.Sitefinity.JobProfileModule.Mvc.Models.JobProfileApprenticeshipViewModel

@if (!string.IsNullOrWhiteSpace(Model.MainSectionTitle))
{
    <h2 class="heading-large">@Model.MainSectionTitle</h2>
}

<div class="grid-row" id="appGeneric">
    <div class="column-full">
        <h3 class="heading-medium">
            @Model.ApprenticeshipSectionTitle
            <span class="heading-secondary">@Model.LocationDetails</span>
        </h3>
    </div>
    @if (Model.ApprenticeshipsAvailable)
    {
        foreach (var apprenticeVacancy in Model.ApprenticeVacancies)
        {
            <div class="column-half">
                <div class="panel panel-border-narrow opportunity-item">
                    <h4 class="heading-small">
                        <a href="@apprenticeVacancy.URL">@apprenticeVacancy.Title</a>
                    </h4>
                    <ul class="list">
                        <li><span class="bold-small">@Model.WageTitle : </span> @apprenticeVacancy.WageAmount <span class="grey font-xsmall">@apprenticeVacancy.WageUnitType</span></li>
                        <li><span class="bold-small">Location:</span> @apprenticeVacancy.Location</li>
                    </ul>
                </div>
            </div>
        }
    }
</div>
@if (!Model.ApprenticeshipsAvailable)
{
    <div class="dfc-code-jp-novacancyText">
            @Html.Raw(Model.NoVacancyText)
    </div>
}
else
{
    <div class="dfc-code-jp-vacancyText">
            @Html.Raw(Model.ApprenticeshipText)
    </div>
}