 @model DFC.Digital.Web.Sitefinity.JobProfileModule.Mvc.Models.JobProfileSectionViewModel

<section id="@Html.Raw(Model.PropertyName)">
    <h2 class="heading-large">@Html.Raw(Model.Title)</h2>
    @Html.Raw(Model.TopSectionContent)
    @Html.Raw(Model.PropertyValue)
    @Html.Raw(Model.BottomSectionContent)
</section>

@if (Model.IsWhatItTakesCadView)
{
    @Html.Partial("RestrictionsRequirements", Model.RestrictionsOtherRequirements)
}