@model DFC.Digital.Web.Sitefinity.JobProfileModule.Mvc.Models.JobProfileWhatYouWillDoViewModel

@if (Model.IsWhatYouWillDoCadView)
{
    <section id="@Html.Raw(Model.SectionId)">
        <h2 class="heading-large">@Html.Raw(Model.Title)</h2>
        @if (Model.IsIntroActive && !string.IsNullOrWhiteSpace(Model.Introduction))
        {
            <p>@Model.Introduction</p>
        }
        @if (!string.IsNullOrWhiteSpace(Model.DailyTasks))
        {
            <section class="job-profile-subsection">
                <h3>@Model.DailyTasksSectionTitle</h3>
                <div class="job-profile-subsection-content">
                    @Html.Raw(Model.DailyTasks)
                </div>
            </section>
        }
        @Html.Partial("WorkEnvironment", Model)
    </section>
}
else
{
    <section id="@Html.Raw(Model.SectionId)">
        <h2 class="heading-large">@Html.Raw(Model.Title)</h2>
        @Html.Raw(Model.TopSectionContent)
        @Html.Raw(Model.PropertyValue)
        @Html.Raw(Model.BottomSectionContent)
    </section>
}
