@model DFC.Digital.Web.Sitefinity.CourseModule.Mvc.Models.CourseListingViewModel

<div class="govuk-!-margin-top-6 govuk-!-margin-bottom-6">
    <h2 class="govuk-heading-m">
        <a class="govuk-link" href="@Model.Course.CourseUrl">@Model.Course.Title</a>
    </h2>
    <ul class="govuk-list">
        @if (Model.Course.QualificationLevel?.ToLowerInvariant().Contains("unknown") == false)
        {
            <li>
                @Model.Course.QualificationLevel
            </li>
        }
        
        <li class="govuk-!-margin-top-3">
            <span class="govuk-secondary-colour">@Model.ProviderLabel</span> @Model.Course.ProviderName
        </li>
        
        <li class="govuk-!-margin-top-3">
            <span class="govuk-secondary-colour">@Model.AdvancedLoanProviderLabel</span> @(Model.Course.AdvancedLearnerLoansOffered  ? "Yes" : "No")
        </li>

        @if (!string.IsNullOrWhiteSpace(Model.Course.Location))
        {
            <li>
                <span class="govuk-secondary-colour">@Model.LocationLabel</span> @Model.Course.Location
            </li>
        }

        <li>
            <span class="govuk-secondary-colour">@Model.StartDateLabel</span> @Model.Course.StartDateLabel
        </li>
    </ul>
</div>

<hr class="govuk-section-break govuk-section-break--visible" />