@model CourseFiltersModel

<div class="filters">
    <div class="filter-container">
        <div class="filter-label">
            <h3 class="govuk-heading-s govuk-!-margin-0">Distance</h3>
        </div>
        <div class="filter-box">
            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                <div class="govuk-radios">
                    <div class="govuk-form-group">
                        <div class="search-header">
                            <div class="searchfield">
                                <div class="search-input">
                                    <label for="search-main" class="govuk-heading-s govuk-!-margin-0">Postcode</label>
                                    <input placeholder="Your postcode" class="search-input" id="search-main" type="search" value="@Model.Location" name="CourseFiltersModel.Location">
                                </div>
                                <div class="search-submit">
                                    <button class="button">Search</button>
                                </div>
                            </div>
                        </div>
                        
                        @foreach (var item in Model.DistanceSelectedList)
                        {
                            <div class="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="@item.Id" name="@item.Name" @item.Checked type="radio" value="@item.Value"><label class="govuk-label govuk-radios__label govuk-!-font-size-16" for="@item.Id">@item.Label</label>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </fieldset>
        </div>

    </div>

<div class="filter-label">
    <h3 class="govuk-heading-s govuk-!-margin-0">Full-time or part-time</h3>
</div>
<div class="filter-box">
    <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
        <div class="govuk-checkboxes">
            
            @foreach (var studyMode in Model.StudyModeSelectedList)
            {
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="@studyMode.Id" name="CourseFiltersModel.StudyMode" type="checkbox" @studyMode.Checked value="@studyMode.Value"><label class="govuk-label govuk-checkboxes__label govuk-!-font-size-16" for="@studyMode.Id">
                        @studyMode.Label
                    </label>
                </div>
            }
        </div>
    </fieldset>
</div>

<div class="filter-label">
    <h3 class="govuk-heading-s govuk-!-margin-0">Classroom or online</h3>
</div>

<div class="filter-box">
    <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
        <div class="govuk-checkboxes">

            @foreach (var item in Model.AttendanceSelectedList)
            {
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="@item.Id" name="CourseFiltersModel.StudyMode" type="checkbox" @item.Checked value="@item.Value"><label class="govuk-label govuk-checkboxes__label govuk-!-font-size-16" for="@item.Id">
                        @item.Label
                    </label>
                </div>
            }
        </div>
    </fieldset>
</div>

<div class="filter-label">
    <h3 class="govuk-heading-s govuk-!-margin-0">Day, night or weekend</h3>
</div>
<div class="filter-box">
    <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
        <div class="govuk-checkboxes">

            @foreach (var item in Model.PatternSelectedList)
            {
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="@item.Id" name="CourseFiltersModel.StudyMode" type="checkbox" @item.Checked value="@item.Value"><label class="govuk-label govuk-checkboxes__label govuk-!-font-size-16" for="@item.Id">
                        @item.Label
                    </label>
                </div>
            }
        </div>
    </fieldset>
</div>
<div class="filter-label">
    <h3 class="govuk-heading-s govuk-!-margin-0">Qualification level</h3>
</div>

<div class="filter-box">
    <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
        <div class="govuk-checkboxes">

            @foreach (var item in Model.QualificationSelectedList)
            {
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="@item.Id" name="@item.Name" type="checkbox" @item.Checked value="@item.Value"><label class="govuk-label govuk-checkboxes__label govuk-!-font-size-16" for="@item.Id">
                        @item.Label
                    </label>
                </div>
            }
        </div>
    </fieldset>
</div>

<div class="filter-label">
    <h3 class="govuk-heading-s govuk-!-margin-0">Age suitability</h3>
</div>
<div class="filter-box">
    <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
        <div class="govuk-radios">
            <div class="govuk-form-group">
                
                @foreach (var item in Model.AgeSuitabilitySelectedList)
                {
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="@item.Id" name="@item.Name" type="radio" @item.Checked value="@item.Value"><label class="govuk-label govuk-radios__label govuk-!-font-size-16" for="@item.Id">@item.Label</label>
                        </div>
                    </div>
                }
              
            </div>
        </div>
    </fieldset>
</div>


<div class="submit js-live-search-fallback">

    <button class="gem-c-button govuk-button" type="submit">Submit filters</button>


</div>
</div>