@using DFC.Digital.Data.Model
@model OrderByLinks
    
<h3 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">@Model.OrderByText</h3>
@switch (Model.CourseSearchSortBy)
{
    case CourseSearchSortBy.Relevance:
        <p class="govuk-body-s govuk-!-margin-bottom-2"><span class="govuk-!-font-weight-bold">@Model.RelevanceOrderByText</span>, <a class="govuk-link" href="@Model.OrderByStartDateUrl">@Model.StartDateOrderByText</a>, <a class="govuk-link" href="@Model.OrderByDistanceUrl">@Model.DistanceOrderByText</a>
        </p>
        break;
    case CourseSearchSortBy.StartDate:
        <p class="govuk-body-s govuk-!-margin-bottom-2"><span class="govuk-!-font-weight-bold">@Model.StartDateOrderByText</span>, <a class="govuk-link" href="@Model.OrderByRelevanceUrl">@Model.RelevanceOrderByText</a>, <a class="govuk-link" href="@Model.OrderByDistanceUrl">@Model.DistanceOrderByText</a>
        </p>
        break;
    case CourseSearchSortBy.Distance:
        <p class="govuk-body-s govuk-!-margin-bottom-2"><span class="govuk-!-font-weight-bold">@Model.DistanceOrderByText</span>, <a class="govuk-link" href="@Model.OrderByRelevanceUrl">@Model.RelevanceOrderByText</a>, <a class="govuk-link" href="@Model.OrderByStartDateUrl">@Model.StartDateOrderByText</a>
        </p>
        break;
    default:
        <p class="govuk-body-s govuk-!-margin-bottom-2"><span class="govuk-!-font-weight-bold">@Model.RelevanceOrderByText</span>, <a class="govuk-link" href="@Model.OrderByStartDateUrl">@Model.StartDateOrderByText</a>, <a class="govuk-link" href="@Model.OrderByDistanceUrl">@Model.DistanceOrderByText</a>
        </p>
        break;
}

