@model DFC.Digital.Data.Model.CourseDetails


    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-top-6">@Model.Title</h1>
        <nav role="navigation">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <ol class="govuk-list govuk-list--number">
                        <li><a class="govuk-link" href="#qualification-details">Qualification details</a></li>
                        <li><a class="govuk-link" href="#course-description">Course description</a></li>
                        <li><a class="govuk-link" href="#entry-requirements">Entry requirements</a></li>
                        <li><a class="govuk-link" href="#equipment-required">Equipment required</a></li>
                    </ol>
                </div>
                <div class="govuk-grid-column-one-half">
                    <ol class="govuk-list govuk-list--number" start="5">
                        <li><a class="govuk-link" href="#assessment-method">Assessment method</a></li>
                        <li><a class="govuk-link" href="#venue">Venue</a></li>
                        <li><a class="govuk-link" href="#other-dates-and-venues">Other dates or venues</a></li>
                    </ol>
                </div>
            </div>
        </nav>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <h2 class="govuk-heading-m" id="qualification-details">1. Qualification details</h2>
        <table class="govuk-table k-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Qualification name</th>
                    <td class="govuk-table__cell">@Model.QualificationName</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Qualification level</th>
                    <td class="govuk-table__cell">@Model.QualificationLevel</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Awarding organisation</th>
                    <td class="govuk-table__cell">***</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Subject category</th>
                    <td class="govuk-table__cell">***</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Course webpage</th>
                    <td class="govuk-table__cell"><a href="url" target="_blank">url</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Course type</th>
                    <td class="govuk-table__cell">***</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Course start date</th>
                    <td class="govuk-table__cell">September 2016</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Price</th>
                    <td class="govuk-table__cell">&#163;0.00</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Additional price description</th>
                    <td class="govuk-table__cell">&#163;0.00</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Funding information</th>
                    <td class="govuk-table__cell"><a href="https://www.gov.uk/advanced-learner-loan/overview" target="_blank">Advanced Learner Loans available</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Attendance pattern</th>
                    <td class="govuk-table__cell">***</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Support facilities</th>
                    <td class="govuk-table__cell">***</td>
                </tr>
            </tbody>
        </table>

        <h2 class="govuk-heading-m" id="course-description">2. Course description</h2>
        <p class="govuk-body">@Model.Description</p>

        <h2 class="govuk-heading-m" id="entry-requirements">3. Entry requirements</h2>
        <p class="govuk-body">@Model.EntryRequirements</p>

        <h2 class="govuk-heading-m" id="equipment-required">4. Equipment required</h2>
        <p class="govuk-body">@Model.EquipmentRequired</p>

        <h2 class="govuk-heading-m" id="assessment-method">5. Assessment method</h2>
        <p class="govuk-body">@Model.AssessmentMethod</p>

        <h2 class="govuk-heading-m" id="venue">6. Venue</h2>
        <table class="govuk-table k-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Name</th>
                    <td class="govuk-table__cell">Rush Green Campus</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Address</th>
                    <td class="govuk-table__cell">
                        Dagenham Road<br />
                        Romford<br />
                        Essex<br />
                        RM7 0XU<br />
                        <a class="govuk-link" href="#">Find on Google maps</a>
                    </td>
                </tr>
            </tbody>
        </table>


        <h2 class="govuk-heading-m" id="other-dates-and-venues">7. Other dates and venues</h2>
        <table class="govuk-table k-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Venue</th>
                    <th class="govuk-table__header">Start date</th>
                    <th class="govuk-table__header">Options</th>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Rush Green Campus</td>
                    <td class="govuk-table__cell">26 February 2019</td>
                    <td class="govuk-table__cell">
                        <a class="govuk-link" href="#">View course</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="#" class="govuk-back-link">Back to results</a>
    </div>


<div class="govuk-grid-column-one-third">
    @* RHC *@

    <aside class="app-related-items" role="complementary">

        @Html.Partial("Provider", Model.ProviderDetails)

    </aside>
</div>