@model CourseDetailsViewModel


<div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-top-6">@Model.CourseDetails.Title</h1>
    <nav role="navigation">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <ol class="govuk-list govuk-list--number">
                    <li><a class="govuk-link" href="#qualification-details">Qualification details</a></li>
                    <li><a class="govuk-link" href="#course-description">Course description</a></li>
                    <li><a class="govuk-link" href="#entry-requirements">Entry requirements</a></li>
                    <li><a class="govuk-link" href="#equipment-required">Equipment required</a></li>
                </ol>
            </div>
            <div class="govuk-grid-column-one-half">
                <ol class="govuk-list govuk-list--number" start="5">
                    <li><a class="govuk-link" href="#assessment-method">Assessment method</a></li>
                    <li><a class="govuk-link" href="#venue">Venue</a></li>
                    <li><a class="govuk-link" href="#other-dates-and-venues">Other dates or venues</a></li>
                </ol>
            </div>
        </div>
    </nav>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <h2 class="govuk-heading-m" id="qualification-details">@Model.QualificationDetailsLabel</h2>
    <table class="govuk-table k-table">
        <tbody class="govuk-table__body">
            @if (!string.IsNullOrWhiteSpace(Model.CourseDetails.QualificationName))
            {
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Qualification name</th>
                    <td class="govuk-table__cell">@Model.CourseDetails.QualificationName</td>
                </tr>
            }
            @if (!string.IsNullOrWhiteSpace(Model.CourseDetails.QualificationLevel))
            {
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Qualification level</th>
                    <td class="govuk-table__cell">@Model.CourseDetails.QualificationLevel</td>
                </tr>
            }
            @if (!string.IsNullOrWhiteSpace(Model.CourseDetails.EntryRequirements))
            {
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Entry requirements</th>
                    <td class="govuk-table__cell">@Model.CourseDetails.EntryRequirements</td>
                </tr>
            }
            @if (!string.IsNullOrWhiteSpace(Model.CourseDetails.StartDateLabel))
            {
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Start date</th>
                    <td class="govuk-table__cell">@Model.CourseDetails.StartDateLabel</td>
                </tr>
            }
            @if (!string.IsNullOrWhiteSpace(Model.CourseDetails.Cost))
            {
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Cost</th>
                    <td class="govuk-table__cell">@Model.CourseDetails.Cost</td>
                </tr>
            }
            @if (!string.IsNullOrWhiteSpace(Model.CourseDetails.Duration))
            {
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Duration</th>
                    <td class="govuk-table__cell">@Model.CourseDetails.Duration</td>
                </tr>
            }
            @if (!string.IsNullOrWhiteSpace(Model.CourseDetails.AttendanceMode))
            {
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Classroom or online</th>
                    <td class="govuk-table__cell">@Model.CourseDetails.AttendanceMode</td>
                </tr>
            }
            @if (!string.IsNullOrWhiteSpace(Model.CourseDetails.AttendancePattern))
            {
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Day, night or weekend</th>
                    <td class="govuk-table__cell">@Model.CourseDetails.AttendancePattern</td>
                </tr>
            }
        </tbody>
    </table>

    <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-bottom-2">
        Enrol now
    </a>

    <p class="govuk-body govuk-!-font-size-14 govuk-!-margin-0">on the provider's website</p>

    <h2 class="govuk-heading-m">@Model.CourseDescriptionLabel</h2>
    <p class="govuk-body">
        @(!string.IsNullOrWhiteSpace(@Model.CourseDetails.Description) ? @Model.CourseDetails.Description : @Model.NoCourseDescriptionMessage)
    </p>


    <h2 class="govuk-heading-m">@Model.EntryRequirementsLabel</h2>
    <p class="govuk-body">@(!string.IsNullOrWhiteSpace(@Model.CourseDetails.EntryRequirements) ? @Model.CourseDetails.EntryRequirements : @Model.NoEntryRequirementsAvailableMessage)</p>

    <h2 class="govuk-heading-m">@Model.EntryRequirementsLabel</h2>
    <p class="govuk-body">@(!string.IsNullOrWhiteSpace(@Model.CourseDetails.EquipmentRequired) ? @Model.CourseDetails.EquipmentRequired : @Model.NoEquipmentRequiredMessage)</p>


    <h2 class="govuk-heading-m">@Model.AssessmentMethodLabel</h2>
    <p class="govuk-body">@(!string.IsNullOrWhiteSpace(@Model.CourseDetails.AssessmentMethod) ? @Model.CourseDetails.AssessmentMethod : @Model.NoAssessmentMethodAvailableMessage)</p>


    <h2 class="govuk-heading-m">@Model.VenueLabel</h2>
    <table class="govuk-table k-table">
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                @if (Model.CourseDetails.VenueDetails != null)
                {
                    <th class="govuk-table__header" scope="row">Name</th>
                    <td class="govuk-table__cell">
                        @Model.CourseDetails.VenueDetails.VenueName
                    </td>
                }
                else
                {
                    <td class="govuk-table__cell">
                        @Model.NoVenueAvailableMessage
                    </td>
                }

            </tr>
            @if (Model.CourseDetails.VenueDetails != null)
            {
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Address</th>
                    <td class="govuk-table__cell">
                        @Model.CourseDetails.VenueDetails.Location.AddressLine1<br />
                        @Model.CourseDetails.VenueDetails.Location.AddressLine2<br />
                        @Model.CourseDetails.VenueDetails.Location.County<br />
                        @Model.CourseDetails.VenueDetails.Location.Postcode<br />

                        <a class="govuk-link" href="https://maps.google.com/?q=@Model.CourseDetails.VenueDetails.Location.Latitude,@Model.CourseDetails.VenueDetails.Location.Longitude">Find on Google maps</a>
                    </td>
                </tr>
                if (!string.IsNullOrEmpty(Model.CourseDetails.VenueDetails.Website))
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s">Website</td>
                        <td class="govuk-table__cell">
                            <a class="govuk-link govuk-body-s" target="_blank" href="@Model.CourseDetails.VenueDetails.Website" style="word-break:break-all;">@Model.CourseDetails.VenueDetails.Website</a>
                        </td>
                    </tr>
                }
                if (!string.IsNullOrEmpty(Model.CourseDetails.VenueDetails.EmailAddress))
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s">Email</td>
                        <td class="govuk-table__cell govuk-body-s"><a href="mailto:@Model.CourseDetails.VenueDetails.EmailAddress" style="word-break:break-all;">@Model.CourseDetails.VenueDetails.EmailAddress</a> </td>
                    </tr>
                }

                if (!string.IsNullOrEmpty(Model.CourseDetails.VenueDetails.PhoneNumber))
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s">Phone</td>
                        <td class="govuk-table__cell govuk-body-s">@Model.CourseDetails.VenueDetails.PhoneNumber</td>
                    </tr>
                }

                if (!string.IsNullOrEmpty(Model.CourseDetails.VenueDetails.Fax))
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s">Fax</td>
                        <td class="govuk-table__cell govuk-body-s">@Model.CourseDetails.VenueDetails.Fax</td>
                    </tr>
                }
            }
        </tbody>
    </table>


    @Html.Partial("OtherDatesAndVenues", Model)


    @if (!string.IsNullOrEmpty(Model.ReferralUrl))
    {
        <a href="@Model.ReferralUrl" class="govuk-back-link">Back to results</a>
    }

</div>


<div class="govuk-grid-column-one-third">

    <aside class="app-related-items" role="complementary">

        @Html.Partial("Provider", Model)

    </aside>
</div>