@model DFC.Digital.Data.Model.CourseDetails


<div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-top-6">@Model.Title</h1>
    <table class="govuk-table k-table">
        <caption class="govuk-table__caption">Qualification details</caption>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Qualification name</th>
                <td class="govuk-table__cell">@Model.QualificationName</td>
            </tr>
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Qualification level</th>
                <td class="govuk-table__cell">@Model.QualificationLevel</td>
            </tr>
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Entry requirements</th>
                <td class="govuk-table__cell">@Model.EntryRequirements</td>
            </tr>
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Start date</th>
                <td class="govuk-table__cell">@Model.StartDateLabel</td>
            </tr>
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Cost</th>
                <td class="govuk-table__cell">@Model.Cost</td>
            </tr>
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Duration</th>
                <td class="govuk-table__cell">@Model.Duration</td>
            </tr>
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Classroom or online</th>
                <td class="govuk-table__cell">@Model.AttendanceMode</td>
            </tr>
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Day, night or weekend</th>
                <td class="govuk-table__cell">@Model.AttendancePattern</td>
            </tr>
        </tbody>
    </table>

    <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-bottom-2">
        Enrol now
    </a>
    <p class="govuk-body govuk-!-font-size-14 govuk-!-margin-0">on the provider's website</p>

    <h2 class="govuk-heading-m">Course description</h2>
    <p class="govuk-body">The course includes the study of applied aspects of physical and human science, and an introduction to psychology and sociology. You will also be able to work towards improving your communication and numeracy skills, and you will receive instruction in</p>

    <h2 class="govuk-heading-m">Entry requirements</h2>
    <p class="govuk-body">This course is designed for more mature students who are well motivated and with adequate literacy and numeracy skills and you should have evidence of caring skills. The course is quite demanding so you must make sure you have enough time and resources t</p>

    <h2 class="govuk-heading-m">Equipment needed</h2>
    <p class="govuk-body">No equipment required</p>

    <h2 class="govuk-heading-m">Assessment method</h2>
    <p class="govuk-body">Assessment is continous throughout the year. You will complete projects, written assignments, tests, laboratory skills and report writing. All units are graded as a pass, merit or distinction and you must obtain at least 60 units at which 45 must be at</p>

    <h2 class="govuk-heading-m">Venue</h2>
    <p class="govuk-body">Assessment is continous throughout the year. You will complete projects, written assignments, tests, laboratory skills and report writing. All units are graded as a pass, merit or distinction and you must obtain at least 60 units at which 45 must be at</p>
    <table class="govuk-table k-table">
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Name</th>
                <td class="govuk-table__cell">Rush Green Campus</td>
            </tr>
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Address</th>
                <td class="govuk-table__cell">
                    Dagenham Road<br />
                    Romford<br />
                    Essex<br />
                    RM7 0XU<br />
                    <a class="govuk-link" href="#">Find on Google maps</a>
                </td>
            </tr>
        </tbody>
    </table>


    <h2 class="govuk-heading-m">Other dates and venues</h2>
    <p class="govuk-body">Assessment is continous throughout the year. You will complete projects, written assignments, tests, laboratory skills and report writing. All units are graded as a pass, merit or distinction and you must obtain at least 60 units at which 45 must be at</p>
    <table class="govuk-table k-table">
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th class="govuk-table__header">Venue</th>
                <th class="govuk-table__header">Start date</th>
                <th class="govuk-table__header">Options</th>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">Rush Green Campus</td>
                <td class="govuk-table__cell">26 February 2019</td>
                <td class="govuk-table__cell">
                    <a class="govuk-link" href="#">View course</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<div class="govuk-grid-column-one-third">
    @* RHC *@

    <aside class="govuk-related-items" role="complementary">

        @Html.Partial("Provider", Model.ProviderDetails)

    </aside>
</div>



@*<div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">@Model.Title</h2>
    <table class="govuk-table k-table">
        <caption class="govuk-table__caption">Dates and amounts</caption>
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Qualification name</th>
            <td class="govuk-table__cell">@Model.QualificationName</td>
        </tr>
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Qualification level</th>
            <td class="govuk-table__cell">@Model.QualificationLevel</td>
        </tr>
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Entry requirements</th>
            <td class="govuk-table__cell">@Model.EntryRequirements</td>
        </tr>
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Start date</th>
            <td class="govuk-table__cell">@Model.StartDateLabel</td>
        </tr>
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Cost</th>
            <td class="govuk-table__cell">@Model.Cost</td>
        </tr>
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Duration</th>
            <td class="govuk-table__cell">@Model.Duration</td>
        </tr>
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Classroom or online</th>
            <td class="govuk-table__cell">@Model.AttendanceMode</td>
        </tr>
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Day, night or weekend</th>
            <td class="govuk-table__cell">@Model.AttendancePattern</td>
        </tr>
        </tbody>
    </table>
    
    
    <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start">
        Enrol now
    </a>
    <p class="govuk-body govuk-!-font-size-14 govuk-!-margin-0">on the provider's website</p>
    <hr class="govuk-section-break govuk-section-break--l" />
    <section>
        <h2 class="govuk-heading-m">Course description</h2>
        <p class="govuk-body ">
            @Model.Description
        </p>
        <p class="govuk-body ">
            @Model.AssessmentMethod
        </p>
    </section>
</div>*@


@*<div class="govuk-grid-column-one-third">


    <aside class="govuk-related-items" role="complementary">

        @Html.Partial("Provider", Model.ProviderDetails)

        @Html.Partial("Venue", Model.VenueDetails)
    </aside>
</div>*@