@model CourseDetailsViewModel
<div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-top-6">@Model.CourseDetails.Title</h1>
    <nav role="navigation">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <ol class="govuk-list govuk-list--number">
                    <li><a class="govuk-link" href="#@nameof(Model.CourseDetailsLabel)">@Model.CourseDetailsLabel</a></li>
                    <li><a class="govuk-link" href="#@nameof(Model.WhoThisCourseIsForLabel)">@Model.WhoThisCourseIsForLabel</a></li>
                    <li><a class="govuk-link" href="#@nameof(Model.EntryRequirementsLabel)">@Model.EntryRequirementsLabel</a></li>
                    <li><a class="govuk-link" href="#@nameof(Model.WhatYoullLearn)">@Model.WhatYoullLearn</a></li>
                    <li><a class="govuk-link" href="#@nameof(Model.HowYoullLearn)">@Model.HowYoullLearn</a></li>

                </ol>
            </div>
            <div class="govuk-grid-column-one-half">
                <ol class="govuk-list govuk-list--number" start="6">
                    <li><a class="govuk-link" href="#@nameof(Model.WhatYoullNeedToBring)">@Model.WhatYoullNeedToBring</a></li>
                    <li><a class="govuk-link" href="#@nameof(Model.HowYoullBeAssessed)">@Model.HowYoullBeAssessed</a></li>
                    <li><a class="govuk-link" href="#@nameof(Model.NextSteps)">@Model.NextSteps</a></li>
                    <li><a class="govuk-link" href="#@nameof(Model.VenueLabel)">@Model.VenueLabel</a></li>
                    <li><a class="govuk-link" href="#@nameof(Model.OtherDatesAndVenuesLabel)">@Model.OtherDatesAndVenuesLabel</a></li>
                </ol>
            </div>
        </div>
    </nav>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <h2 class="govuk-heading-m" id="@nameof(Model.CourseDetailsLabel)">1. @Model.CourseDetailsLabel</h2>
    <table class="govuk-table k-table">
        <tbody class="govuk-table__body">
            @if (!string.IsNullOrWhiteSpace(Model.CourseDetails.QualificationName))
            {
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">@Model.QualificationNameLabel</th>
                    <td class="govuk-table__cell">@Model.CourseDetails.QualificationName</td>
                </tr>
            }
            @if (!string.IsNullOrWhiteSpace(Model.CourseDetails.QualificationLevel))
            {
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">@Model.QualificationLevelLabel</th>
                    <td class="govuk-table__cell">@Model.CourseDetails.QualificationLevel</td>
                </tr>
            }

            @if (!string.IsNullOrWhiteSpace(Model.CourseDetails.AwardingOrganisation))
            {
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">@Model.AwardingOrganisationLabel</th>
                    <td class="govuk-table__cell">@Model.CourseDetails.AwardingOrganisation</td>
                </tr>
            }

            @if (!string.IsNullOrWhiteSpace(Model.CourseDetails.SubjectCategory))
            {
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">@Model.SubjectCategoryLabel</th>
                    <td class="govuk-table__cell">@Model.CourseDetails.SubjectCategory</td>
                </tr>
            }

            @if (!string.IsNullOrWhiteSpace(Model.CourseDetails.CourseWebpageLink))
            {
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">@Model.CourseWebpageLinkLabel</th>
                    <td class="govuk-table__cell">
                        <a href="@Model.CourseDetails.CourseWebpageLink" target="_blank">
                            @Model.CourseDetails.CourseWebpageLink
                        </a>
                    </td>
                </tr>
            }

            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">@Model.CourseTypeLabel</th>
                <td class="govuk-table__cell">@Model.CourseDetails.AttendanceMode</td>
            </tr>

            @if (Model.CourseDetails.StudyMode != "Undefined")
            {
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">@Model.CourseHoursLabel</th>
                    <td class="govuk-table__cell">@Model.CourseDetails.StudyMode</td>
                </tr>
            }


            @if (!string.IsNullOrWhiteSpace(Model.CourseDetails.StartDateLabel))
            {
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">@Model.StartDateLabel</th>
                    <td class="govuk-table__cell">@Model.CourseDetails.StartDateLabel</td>
                </tr>
            }

            @if (!string.IsNullOrWhiteSpace(Model.CourseDetails.Cost))
            {
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">@Model.PriceLabel</th>
                    <td class="govuk-table__cell">@Model.CourseDetails.Cost</td>
                </tr>
            }

            @if (!string.IsNullOrWhiteSpace(Model.CourseDetails.AdditionalPrice))
            {
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">@Model.AdditionalPriceLabel</th>
                    <td class="govuk-table__cell">@Model.CourseDetails.AdditionalPrice</td>
                </tr>
            }

            @if (Model.CourseDetails.AttendancePattern != "Undefined")
            {
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">@Model.AttendancePatternLabel</th>
                    <td class="govuk-table__cell">@Model.CourseDetails.AttendancePattern</td>
                </tr>
            }

        </tbody>
    </table>

    <h2 class="govuk-heading-m" id="@nameof(Model.CourseDescriptionLabel)">2. @Model.CourseDescriptionLabel</h2>
    <p class="govuk-body">
        @(!string.IsNullOrWhiteSpace(@Model.CourseDetails.Description) ? @Model.CourseDetails.Description : @Model.NoCourseDescriptionMessage)
    </p>


    <h2 class="govuk-heading-m" id="@nameof(Model.EntryRequirementsLabel)">3. @Model.EntryRequirementsLabel</h2>
    <p class="govuk-body">@(!string.IsNullOrWhiteSpace(@Model.CourseDetails.EntryRequirements) ? @Model.CourseDetails.EntryRequirements : @Model.NoEntryRequirementsAvailableMessage)</p>

    <h2 class="govuk-heading-m" id="@nameof(Model.WhatYoullLearn)">4. @Model.WhatYoullLearn</h2>
    <p class="govuk-body">@(!string.IsNullOrWhiteSpace(@Model.CourseDetails.WhatYoullLearn) ? @Model.CourseDetails.WhatYoullLearn : @Model.NoWhatYoullLearnAvailableMessage)</p>


    <h2 class="govuk-heading-m" id="@nameof(Model.HowYoullLearn)">5. @Model.HowYoullLearn</h2>
    <p class="govuk-body">@(!string.IsNullOrWhiteSpace(@Model.CourseDetails.HowYoullLearn) ? @Model.CourseDetails.HowYoullLearn : @Model.NoHowYoullLearnAvailableMessage)</p>

    <h2 class="govuk-heading-m" id="@nameof(Model.WhatYoullNeedToBring)">6. @Model.WhatYoullNeedToBring</h2>
    <p class="govuk-body">@(!string.IsNullOrWhiteSpace(@Model.CourseDetails.EquipmentRequired) ? @Model.CourseDetails.EquipmentRequired : @Model.NoEquipmentRequiredMessage)</p>

    <h2 class="govuk-heading-m" id="@nameof(Model.HowYoullBeAssessed)">7. @Model.HowYoullBeAssessed</h2>
    <p class="govuk-body">@(!string.IsNullOrWhiteSpace(@Model.CourseDetails.AssessmentMethod) ? @Model.CourseDetails.AssessmentMethod : @Model.NoAssessmentMethodAvailableMessage)</p>

    <h2 class="govuk-heading-m" id="@nameof(Model.NextSteps)">8. @Model.NextSteps</h2>
    <p class="govuk-body">@(!string.IsNullOrWhiteSpace(@Model.CourseDetails.NextSteps) ? @Model.CourseDetails.NextSteps : @Model.NoNextStepsAvailableMessage)</p>

    <h2 class="govuk-heading-m" id="@nameof(Model.VenueLabel)">9. @Model.VenueLabel</h2>
    @if (Model.CourseDetails.AttendanceMode == "Work based")
    {
        if (Model.CourseDetails.National)
        {
            <p class="govuk-body" id="@nameof(Model.NationalWorkBasedText)">@Model.NationalWorkBasedText</p>
        }
        else
        { 
            foreach (var r in Model.CourseDetails.CourseRegions)
            {
                <details class="govuk-details" id="@nameof(Model.CourseDetails.CourseRegions)" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">@r.Region</span>
                    </summary>
                    <div class="govuk-details__text">@r.Area</div>
                </details>
            }
        }
    }
    else
    {
        if (Model.CourseDetails.VenueDetails != null)
        {
            <table class="govuk-table k-table">
                <tbody class="govuk-table__body">

                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Name</th>
                        <td class="govuk-table__cell">
                            @Model.CourseDetails.VenueDetails.VenueName
                        </td>
                    </tr>

                    @if (Model.CourseDetails.VenueDetails.Location != null)
                    {

                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="row">Address</th>
                            <td class="govuk-table__cell">
                                @if (!string.IsNullOrWhiteSpace(@Model.CourseDetails.VenueDetails.Location.AddressLine1))
                                {
                                    @Model.CourseDetails.VenueDetails.Location.AddressLine1<br />
                                }
                                @if (!string.IsNullOrWhiteSpace(@Model.CourseDetails.VenueDetails.Location.AddressLine2))
                                {
                                    @Model.CourseDetails.VenueDetails.Location.AddressLine2<br />
                                }
                                @if (!string.IsNullOrWhiteSpace(@Model.CourseDetails.VenueDetails.Location.County))
                                {
                                    @Model.CourseDetails.VenueDetails.Location.County<br />
                                }
                                @if (!string.IsNullOrWhiteSpace(@Model.CourseDetails.VenueDetails.Location.Postcode))
                                {
                                    @Model.CourseDetails.VenueDetails.Location.Postcode<br />
                                }

                                <a class="govuk-link" target="_blank" href="https://maps.google.com/?q=@Model.CourseDetails.VenueDetails.Location.Latitude,@Model.CourseDetails.VenueDetails.Location.Longitude">Find on Google maps</a>
                            </td>
                        </tr>
                    }



                    @if (!string.IsNullOrEmpty(Model.CourseDetails.VenueDetails.EmailAddress))
                    {
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header">Email</th>
                            <td class="govuk-table__cell govuk-body-s"><a href="mailto:@Model.CourseDetails.VenueDetails.EmailAddress" style="word-break:break-all;">@Model.CourseDetails.VenueDetails.EmailAddress</a> </td>
                        </tr>
                    }

                    @if (!string.IsNullOrEmpty(Model.CourseDetails.VenueDetails.PhoneNumber))
                    {
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header">Phone</th>
                            <td class="govuk-table__cell govuk-body-s">@Model.CourseDetails.VenueDetails.PhoneNumber</td>
                        </tr>
                    }

                    @if (!string.IsNullOrEmpty(Model.CourseDetails.VenueDetails.Fax))
                    {
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header">Fax</th>
                            <td class="govuk-table__cell govuk-body-s">@Model.CourseDetails.VenueDetails.Fax</td>
                        </tr>
                    }
                    @if (!string.IsNullOrEmpty(Model.CourseDetails.VenueDetails.Website))
                    {
                        <tr class="govuk-table__row">
                            <td class="govuk-table__header">Website</td>
                            <td class="govuk-table__cell">
                                <a class="govuk-link govuk-body-s" target="_blank" href="@Model.CourseDetails.VenueDetails.Website" style="word-break:break-all;">@Model.CourseDetails.VenueDetails.Website</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }

    @Html.Partial("OtherDatesAndVenues", Model)

    @if (!string.IsNullOrEmpty(Model.ReferralPath))
    {
        <a href="@Model.ReferralPath" class="govuk-back-link">Back to results</a>
    }

</div>

<div class="govuk-grid-column-one-third">

    <aside class="app-related-items" role="complementary">

        @Html.Partial("Provider", Model)

    </aside>
    @Html.Raw(Model.ContactAdviserSection)
</div>
