@model DFC.Digital.Data.Model.ProviderDetails

<h2 class="govuk-heading-m govuk-!-margin-top-2">Provider</h2>
<p class="govuk-body-s">@Model.Name</p>

<ul class="govuk-list govuk-!-font-size-16">
    <li>
        Website:
        <a class="govuk-link" href="@Model.Website">@Model.Website</a>
    </li>
    <li>
        Email:
        <a class="govuk-link" href="#">@Model.EmailAddress</a>
    </li>
    <li>
        Phone: @Model.PhoneNumber
    </li>
</ul>

@if(Model.LearnerSatisfactionSpecified || Model.EmployerSatisfactionSpecified)
    {
        <h2 class="govuk-heading-s">Provider performance information</h2>
        if (Model.LearnerSatisfactionSpecified)
         {
        <p class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold govuk-!-margin-bottom-2">@Model.LearnerSatisfaction</p>
         <p class="govuk-body-s">out of 10 for learner satisfaction</p>
         }
        
        if (Model.EmployerSatisfactionSpecified)
         {
         <p class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold govuk-!-margin-bottom-2">@Model.EmployerSatisfaction</p>
             <p class="govuk-body-s">out of 10 for employer satisfaction</p>
         }
    }
<hr class="govuk-section-break govuk-section-break--visible" />