@model DFC.Digital.Data.Model.VenueDetails

<table class="govuk-table k-table" role="presentation">
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-body-s">Website</td>
            <td class="govuk-table__cell">
                <a class="govuk-link govuk-body-s" target="_blank" href="@Model.VenueName" style="word-break:break-all;">@Model.Website</a>
            </td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-body-s">Address</td>
            <td class="govuk-table__cell">
                <a class="govuk-link govuk-body-s" target="_blank" href="@Model.Location" style="word-break:break-all;">@Model.Website</a>
            </td>
        </tr>
        @if (!string.IsNullOrEmpty(Model.Website))
        {
            <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body-s">Website</td>
                <td class="govuk-table__cell">
                    <a class="govuk-link govuk-body-s" target="_blank" href="@Model.Website" style="word-break:break-all;">@Model.Website</a>
                </td>
            </tr>
        }
        @if (!string.IsNullOrEmpty(Model.EmailAddress))
        {
            <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body-s">Email</td>
                <td class="govuk-table__cell govuk-body-s"><a href="mailto:@Model.EmailAddress" style="word-break:break-all;">@Model.EmailAddress</a> </td>
            </tr>
        }

        @if (!string.IsNullOrEmpty(Model.PhoneNumber))
        {
            <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body-s">Phone</td>
                <td class="govuk-table__cell govuk-body-s">@Model.PhoneNumber</td>
            </tr>
        }

        @if (!string.IsNullOrEmpty(Model.Fax))
        {
            <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body-s">Fax</td>
                <td class="govuk-table__cell govuk-body-s">@Model.Fax</td>
            </tr>
        }
    </tbody>
</table>