@using DFC.Digital.Web.Core
@model CourseFiltersViewModel

<div class="filters filters">

    <div class="govuk-form-group">
        @Html.LabelFor(x => x.Location, "Location", new {@class="govuk-label"})
    @Html.TextBoxFor(x => x.Location, new { @class = "govuk-input govuk-!-width-full locationfield"})
 
    </div>

    <div id="distanceFormGroup" style="display: none;" class="govuk-form-group">
        <div class="govuk-inset-text" id="distance">
            @Html.LabelFor(x => x.Distance, "Within", new { @class = "govuk-label" })

            @Html.GovUkEnumRadioButtonFor(x => x.DistanceRange)
            @*<select class="govuk-select" id="CurrentSearchRequest_LocationDistance" name="CurrentSearchRequest.LocationDistance">
            <option value="5">5 Miles</option>
            <option value="10">10 Miles</option>
            <option value="15">15 Miles</option>
            <option value="30">30 Miles</option>
            <option value="45">45 Miles</option>
            <option value="60">60 Miles</option>
            <option value="75">75 Miles</option>
        </select>
            *@
        </div>
    </div>

    <div class="govuk-form-group">
        @Html.LabelFor(x => x.Provider, "Provider", new {@class="govuk-label"})
        @Html.TextBoxFor(x => x.Provider, new { @class = "govuk-input govuk-!-width-full"})

    </div>


    <div class="filter-container">
        <div class="filter-label">
            <h2 class="govuk-heading-s govuk-!-margin-0">Course hours</h2>
        </div>
        <div class="filter-box">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-visually-hidden">Choose desired course hours</legend>
                <div class="govuk-radios">
                    @Html.GovUkEnumRadioButtonFor(model => model.CourseHours)
                </div>
            </fieldset>
        </div>
    </div>

    <div class="filter-container">
        <div class="filter-label">
            <h2 class="govuk-heading-s govuk-!-margin-0">Course type</h2>
        </div>

        <div class="filter-box">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-visually-hidden">Choose desired course type</legend>
                <div class="govuk-radios">
                    @Html.GovUkEnumRadioButtonFor(model => model.CourseType)
                </div>
            </fieldset>
        </div>

    </div>
    <div class="filter-container">
        <div class="filter-label">
            <h2 class="govuk-heading-s govuk-!-margin-0">Start date</h2>
        </div>
        <div class="filter-box conditional-box">
            <fieldset class="govuk-fieldset">
                <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                    <div class="govuk-form-group">
                        @Html.GovUkEnumRadioButtonFor(model => model.StartDate)
                  
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden conditional-date" id="conditional-start-date-conditional-1">
                            <div class="govuk-form-group">
                                @Html.LabelFor(x => x.StartDateDay, "Start date", new { @class = "govuk-label govuk-!-font-size-16" })
                 
                                <span class="govuk-hint govuk-!-font-size-16">@Model.StartDateExampleText For example, 01 01 2020</span>
                                <div class="govuk-date-input" id="startDate-Date">
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            
                                            @Html.LabelFor(x => x.StartDateDay, "Day", new { @class = "govuk-label govuk-date-input__label govuk-!-font-size-14" })
                                            @Html.TextBoxFor(x => x.StartDateDay, new {@class="govuk-input govuk-date-input__input govuk-input--width-2", type = "number", pattern = "[0-9]*" })
                                         
                                        </div>
                                    </div>
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            @Html.LabelFor(x => x.StartDateMonth, "Month", new { @class = "govuk-label govuk-date-input__label govuk-!-font-size-14" })
                                            @Html.TextBoxFor(x => x.StartDateMonth, new {@class="govuk-input govuk-date-input__input govuk-input--width-2", type = "number", pattern = "[0-9]*" })

                                        </div>
                                    </div>
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            @Html.LabelFor(x => x.StartDateYear, "Year", new { @class = "govuk-label govuk-date-input__label govuk-!-font-size-14" })
                                            @Html.TextBoxFor(x => x.StartDateYear, new {@class="govuk-input govuk-date-input__input govuk-input--width-4", type = "number", pattern = "[0-9]*" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>


    </div>
    <div class="filter-container">
        <div class="filter-label">
            <h2 class="govuk-heading-s govuk-!-margin-0">@Model.AgeSuitabilityText Age suitability</h2>
        </div>
        <div class="filter-box">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-visually-hidden">Choose age range for courses</legend>
                <div class="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                        @Html.CheckBoxForSimple(x => x.Only1619Courses, new { @class = "govuk-checkboxes__input" })
                        @Html.LabelFor(x => x.Only1619Courses, Model.Only1619CoursesText, new { @class = "govuk-label govuk-checkboxes__label govuk-!-font-size-16" })
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
        <div class="submit js-live-search-fallback">

            <button class="js-enabled gem-c-button govuk-button" type="submit">Apply filters</button>

        </div>
    
</div>
