@model DFC.Digital.Web.Sitefinity.CourseModule.CourseSearchResultsViewModel


@* Top Full Width Content Block *@

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">@Model.PageTitle</h1>
        @*  @if (Model.ActiveFilterOptions.Any())
        {
            <p class="govuk-body">@Model.FilterCourseByText</p>
            <p class="govuk-body">
                @foreach (var aFilter in Model.ActiveFilterOptions)
                {
                    <span class="govuk-secondary-colour">@aFilter.Key</span>
                    <span class="govuk-!-font-weight-bold">@aFilter.Value@(Model.ActiveFilterOptions.LastOrDefault().Key.Equals(aFilter.Key) ? string.Empty : ",")</span>
                }
            </p>
            <p class="govuk-body"><a class="govuk-link" href="@Model.ResetFilterUrl">Reset</a></p>
        }*@
    </div>
    </div>

@using (Html.BeginForm("", "CourseSearchResults", FormMethod.Post))
{

    if (Model.ActiveFilterOptions.Any() || Model.Courses.Any())
    {
        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-8">
    }
    <div class="govuk-grid-row">
        @* Filter Section - Within 1/3 Content Block *@
        <div class="govuk-grid-column-one-third">
            @Html.Partial("Filters", Model.CourseFiltersModel)
        </div>
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group">
                <div class="search-header">
                    <div class="searchfield">
                        <div class="search-input">
                            <label for="search-main" class="search-title">
                                    Showing results for <span class="govuk-visually-hidden">@Model.CourseFiltersModel.SearchTerm</span>
                            </label>
                            @Html.TextBoxFor(x => x.CourseFiltersModel.SearchTerm, new { placeholder = "Search for courses", @class = "search-input", id = "search-main", type = "search" })
                        </div>
                        <div class="search-submit">
                            <button type="submit" class="button">Search</button>
                        </div>
                    </div>
                </div>
                @if (Model.Courses.Any())
                {
                    @Html.Partial("OrderByLinks", Model.OrderByLinks)
                }
            </div>

            @if (Model.Courses.Any())
            {
                <div id="results-summary">

                    <h3 class="govuk-body-s govuk-!-margin-bottom-1">Showing @Model.RecordsOnPageLabel of @Model.ResultProperties.TotalResultCount results</h3>
                    <hr class="govuk-section-break govuk-section-break--visible" />

                </div>

            }
            else
            {
                <h3 class="govuk-body-s govuk-!-margin-bottom-1">@Model.NoTrainingCoursesFoundText</h3>
            }

            @foreach (var course in Model.Courses)
            {
                @Html.Partial("CourseDetail", course)
            }

            @Html.Partial("Pagination", Model.PaginationViewModel)

        </div>
    </div>
}




