@model DFC.Digital.Web.Sitefinity.CourseModule.CourseSearchResultsViewModel


@* Top Full Width Content Block *@
@using (Html.BeginForm("", "CourseSearchResults", FormMethod.Post))
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">@Model.PageTitle</h1>
        </div>
    </div>


    <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group">
                <label class="govuk-label" for="keyword-search">
                    @Model.SearchForCourseNameText
                </label>
                <span class="govuk-visually-hidden">Search results for @Model.CourseFiltersModel.SearchTerm</span>
                <input name="SearchTerm" value="@Model.CourseFiltersModel.SearchTerm" class="govuk-input gem-c-input--search-icon" id="keyword-search" type="search">
            </div>
        </div>
    </div>

    <div class="govuk-grid-row">

        @if (Model.Courses.Any())
        {
            @* Filter Section - Within 1/3 Content Block *@
            <div class="govuk-grid-column-one-third">
                @Html.Partial("Filters", Model.CourseFiltersModel)
            </div>
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-form-group">
                    <div class="facet-tags">
                        @foreach (var aFilter in Model.ActiveFilterOptions)
                        {
                            <div class="facet-tags__group">
                                <div class="facet-tags__wrapper">
                                    <p class="facet-tags__preposition">@aFilter.Key</p>
                                    <div class="facet-tag">
                                        <p class="facet-tag__text">@aFilter.Value</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                @Html.Partial("OrderByLinks", Model.OrderByLinks)
                <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-8">

                <div id="results-summary">

                    <h3 class="govuk-body-s govuk-!-margin-bottom-1">Showing @Model.RecordsOnPageLabel of @Model.ResultProperties.TotalResultCount results</h3>
                    <hr class="govuk-section-break govuk-section-break--visible" />

                </div>


                @foreach (var course in Model.Courses)
                {
                    @Html.Partial("CourseDetail", course)
                }

                @Html.Partial("Pagination", Model.PaginationViewModel)

            </div>

        }
        else
        {
            <div class="govuk-grid-column-two-thirds">
                <h3 class="govuk-body-s govuk-!-margin-bottom-1">@Model.NoTrainingCoursesFoundText</h3>
            </div>
        }
    </div>

}

