@model DFC.Digital.Data.Model.RouteEntry

<div>
    <h4>RouteEntry</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RouteName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RouteName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RouteSubjects)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RouteSubjects)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FurtherRouteInformation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FurtherRouteInformation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RouteRequirement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RouteRequirement)
        </dd>
    </dl>
</div>
