@model DFC.Digital.Web.Sitefinity.ContactUsModule.Mvc.Models.ConsentDetails
    
<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h class="govuk-fieldset__heading">
                Do you want us to contact you?
            </h>
        </legend>
        <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
                @Html.RadioButtonFor(model => model.IsContactable, "True", new { @class = "govuk-radios__input", name = "radio-inline-group", id = "radio-inline-1", @checked = "checked" })
                @Html.LabelFor(model => model.IsContactable, "Yes", new { @class = "govuk-label govuk-radios__label" })
            </div>
            <div class="govuk-radios__item">
                @Html.RadioButtonFor(model => model.IsContactable, "False", new { @class = "govuk-radios__input", name = "radio-inline-group", id = "radio-inline-1" })
                @Html.LabelFor(model => model.IsContactable, "No", new { @class = "govuk-label govuk-radios__label" })

            </div>
        </div>
    </fieldset>
</div>

<div class="govuk-form-group @Html.GetErrorClass(nameof(Model.AcceptTermsAndConditions), ViewData.ModelState)">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h3 class="govuk-fieldset__heading">
                Terms and conditions
            </h3>
        </legend>
        @Html.ValidationMessageFor(x => x.AcceptTermsAndConditions, null, new { @class = "govuk-error-message" })
        <div class="govuk-checkboxes">
            @*<div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="TermsAndConditions" name="TermsAndConditions" type="checkbox" value="true" @Model.TandCChecked>
                    <label class="govuk-label govuk-checkboxes__label" for="TermsAndConditions">
                        I accept the <a href="https://nationalcareersservice.direct.gov.uk/about-us/terms-and-conditions">terms and conditions</a> and I am 13 or over
                    </label>
                </div>*@

            <div class="govuk-checkboxes__item">
                @Html.LabelWithHintFor(m => m.AcceptTermsAndConditions)
                @Html.CheckBoxFor(model => model.AcceptTermsAndConditions)
            </div>
        </div>
    </fieldset>
</div>
<div class="govuk-form-group @Html.GetErrorClass(nameof(Model.AcceptTermsAndConditions), ViewData.ModelState)">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h3 class="govuk-fieldset__heading">
                Terms and conditions
            </h3>
        </legend>
        @Html.ValidationMessageFor(x => x.AcceptTermsAndConditions, null, new { @class = "govuk-error-message" })
        <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
                @Html.LabelWithHintFor(m => m.AcceptTermsAndConditions)
                @Html.CheckBoxFor(model => model.AcceptTermsAndConditions, new { @class= "govuk-checkboxes__input" })
            </div>
        </div>
    </fieldset>
</div>
