@model DFC.Digital.Web.Sitefinity.ContactUsModule.Mvc.Models.PersonalContactDetails

<div class="govuk-form-group @Html.GetErrorClass(nameof(Model.Title), ViewData.ModelState)">
    @Html.LabelFor(x => x.Title, new { @class = "govuk-label" })
    @Html.ValidationMessageFor(x => x.Title, null, new { @class = "govuk-error-message" })
    @Html.TextBoxFor(x => x.Title, new { @class = "govuk-input govuk-!-width-two-thirds" })
</div>

<div class="govuk-form-group @Html.GetErrorClass(nameof(Model.Firstname), ViewData.ModelState)">
    @Html.LabelFor(x => x.Firstname, new { @class = "govuk-label" })
    @Html.ValidationMessageFor(x => x.Firstname, null, new { @class = "govuk-error-message" })
    @Html.TextBoxFor(x => x.Firstname, new { @class = "govuk-input govuk-!-width-two-thirds" })
</div>

<div class="govuk-form-group @Html.GetErrorClass(nameof(Model.Lastname), ViewData.ModelState)">
    @Html.LabelFor(x => x.Lastname, new { @class = "govuk-label" })
    @Html.ValidationMessageFor(x => x.Lastname, null, new { @class = "govuk-error-message" })
    @Html.TextBoxFor(x => x.Lastname, new { @class = "govuk-input govuk-!-width-two-thirds" })
</div>

<div class="govuk-form-group @Html.GetErrorClass(nameof(Model.EmailAddress), ViewData.ModelState)">
    @Html.LabelFor(x => x.EmailAddress, new { @class = "govuk-label" })
    @Html.ValidationMessageFor(x => x.EmailAddress, null, new { @class = "govuk-error-message" })
    @Html.TextBoxFor(x => x.EmailAddress, new { @class = "govuk-input govuk-!-width-two-thirds" })
</div>

<div class="govuk-form-group @Html.GetErrorClass(nameof(Model.ConfirmEmailAddress), ViewData.ModelState)">
    @Html.LabelFor(x => x.ConfirmEmailAddress, new { @class = "govuk-label" })
    @Html.ValidationMessageFor(x => x.ConfirmEmailAddress, null, new { @class = "govuk-error-message" })
    @Html.TextBoxFor(x => x.ConfirmEmailAddress, new { @class = "govuk-input govuk-!-width-two-thirds" })
</div>