@model  DFC.Digital.Web.Sitefinity.JobProfileModule.Mvc.Models.JobProfileHowToBecomeViewModel
@if (!string.IsNullOrEmpty(Model.HowToBecome.FurtherMoreInformation.ProfessionalAndIndustryBodies) || !string.IsNullOrEmpty(Model.HowToBecome.FurtherMoreInformation.CareerTips) || !string.IsNullOrEmpty(Model.HowToBecome.FurtherMoreInformation.FurtherInformation) || Model.HowToBecome.Registrations.Any())
{
    <section class="job-profile-subsection" id="moreinfo">
        <h3>@Model.SubsectionMoreInfo</h3>
        <div class="job-profile-subsection-content">
            @if (Model.HowToBecome.Registrations.Any())
            {

                <h4>@Model.SubsectionMoreInfoRegistration</h4>
                if (!string.IsNullOrEmpty(Model.SubsectionMoreInfoRegistrationOpeningText))
                {
                    <p>@Html.Raw(Model.SubsectionMoreInfoRegistrationOpeningText)</p>
                }
                <ul>
                    @foreach (var registration in Model.HowToBecome.Registrations)
                    {
                        <li>@Html.Raw(registration.Info)</li>
                    }
                </ul>
            }

            @if (!string.IsNullOrEmpty(Model.HowToBecome.FurtherMoreInformation.CareerTips))
            {
                <h4>@Model.SubsectionMoreInfoTips</h4>
                @Html.Raw(Model.HowToBecome.FurtherMoreInformation.CareerTips)
            }
            @if (!string.IsNullOrEmpty(Model.HowToBecome.FurtherMoreInformation.ProfessionalAndIndustryBodies))
            {
                <h4>@Model.SubsectionMoreInfoBodies</h4>
                @Html.Raw(Model.HowToBecome.FurtherMoreInformation.ProfessionalAndIndustryBodies)
            }
            @if (!string.IsNullOrEmpty(Model.HowToBecome.FurtherMoreInformation.FurtherInformation))
            {
                <h4>@Model.SubsectionMoreInfoFurtherInfo</h4>
                @Html.Raw(Model.HowToBecome.FurtherMoreInformation.FurtherInformation)
            }
        </div>
    </section>
}