@model DFC.Digital.Web.Sitefinity.ContactUsModule.Mvc.Models.GeneralFeedbackViewModel


@Html.Partial("ErrorSummary")
@using (Html.BeginForm("index", "Feedback", FormMethod.Post, new { id = "form-contact-adviser" }))
{
    <div class="govuk-form-group @Html.GetErrorClass(nameof(Model.FeedbackQuestionType), ViewData.ModelState)">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">@Model.Title</h1>
            </legend>
            <div class="govuk-radios" id="@nameof(Model.FeedbackQuestionType)">
                @Html.ValidationMessageFor(model => model.FeedbackQuestionType, null, new { @class = "govuk-error-message" })
                @Html.GovUkEnumRadioButtonFor(model => model.FeedbackQuestionType)
            </div>
        </fieldset>
    </div>
    <div class="govuk-character-count" data-module="character-count" data-maxlength="1000">
        <div class="govuk-form-group">
            @Html.LabelFor(model => model.Feedback, Model.MessageLabel, new { @class = "govuk-label" })
            <span class="govuk-hint">@Model.PersonalInformation</span>
            @Html.ValidationMessageFor(model => model.Feedback, null, new { @class = "govuk-error-message" })

            @Html.TextAreaFor(model => model.Feedback, new { @class = "govuk-textarea js-character-count", rows = "5", type = "text" })

        </div>
        <span id="Feedback-info" class="govuk-hint govuk-character-count__message" aria-live="polite">@Model.CharacterLimit</span>

    </div>
    <div class="govuk-form-group">
        <button id="send-feedback-details" type="submit" class="govuk-button ga-additional-data" data-datalayer-key="FeedbackQueryOptionSelected" data-datalayer-input="FeedbackQuestionType">
            @Model.ContinueText
        </button>
    </div>
}
